<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">

  <style>
    #left {
      background-color: rgb(163, 192, 255);
      float: left;
      width: 30%;
    }

    #right {
      background-color: rgb(225, 255, 197);
      float: right;
      width: 70%;
    }
  </style>
</head>

<body>
  <div id="left">
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
  </div>
  <div id="right">
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
    <p>实现一个两栏布局，左侧占30%宽度，右侧占70%宽度</p>
  </div>
</body>

</html>