<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">

  <style>
    #left {
      float: left;
      width: 300px;
      background-color: rgb(163, 192, 255);
    }

    #right {
      margin-left: 300px;
      background-color: rgb(225, 255, 197);
    }
  </style>
</head>

<body>
  <div id="left">
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
  </div>
  <div id="right">
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
    <p>实现一个两栏布局，左侧固定宽度，右侧根据浏览器宽度进行自适应变化</p>
  </div>
</body>

</html>