@import url(resume1.css);

body>div {
    display: flex;
}

h1 {
    color: #fff;
}

#h1 {
    padding: 3em;
    background-color: rgb(75, 147, 255);
}

#bdy {
    padding: 1em;
}

#bdy>div:nth-of-type(1)>h2 {
    margin-top: 0;
}